* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(135deg, #f6d365, #fda085);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.container {
  background: white;
  padding: 30px;
  border-radius: 25px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.container:hover {
  transform: scale(1.01);
}

.todo-app h2 {
  text-align: center;
  font-size: 28px;
  color: #4a148c;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.row {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.row input {
  flex: 1;
  padding: 12px;
  font-size: 16px;
  border-radius: 10px;
  border: 2px solid #4a148c;
  outline: none;
  transition: 0.3s;
}

.row input:focus {
  border-color: green;
}

.row button {
  padding: 12px 18px;
  background: #7b1fa2;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s;
}

.row button:hover {
  background: #4a148c;
}

.list-container {
  list-style: none;
  padding: 0;
}

.list-container li {
  background: linear-gradient(90deg, #ff9a9e, #fad0c4);
  margin-bottom: 12px;
  padding: 14px 16px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  gap: 14px;
  color: #4a148c;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  overflow: auto;
  scrollbar-width: none;
  /* scrollbar-width:thin; */
  /* scrollbar-color: #7b1fa2 #f3e5f5; */
}

.list-container li:hover {
  transform: scale(1.02);
  background: linear-gradient(90deg, #a1c4fd, #c2e9fb);
}

.check-icon {
  width: 24px;
  height: 24px;
  display: inline-block;
}

/* Unchecked Icon */
.unchecked::before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="%234a148c" viewBox="0 -960 960 960"><path d="M480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"/></svg>');
  background-size: cover;
}

/* Checked Icon */
.checked::before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="%234a148c" viewBox="0 -960 960 960"><path d="M480-280q83 0 141.5-58.5T680-480q0-83-58.5-141.5T480-680q-83 0-141.5 58.5T280-480q0 83 58.5 141.5T480-280Zm0 200q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"/></svg>');
  background-size: cover;
}

.list-container li.checked-item {
  text-decoration: line-through;
  opacity: 0.6;
}
.delete-btn {
  margin-left: auto;
  color: #d32f2f;
  font-size: 18px;
  cursor: pointer;
  padding-left: 10px;
}

.delete-btn:hover {
  color: #b71c1c;
}

@media (max-width: 600px) {
  .row {
    flex-direction: column;
  }

  .row button {
    width: 100%;
  }

  .container {
    padding: 20px;
  }
}
